head,h1{
  position: relative;
  top: 50px;
   color:rgb(118, 201, 226);
}
body {
    background-color: #ffdd90;
    background-image: url("cine4k.jpg");
  }
.boton { 
    width: 100px; 
    height: 50px;
    background-color: rgb(224, 51, 65);
    color: rgb(255, 255, 255);
    font-size: 25px;
    position: 2px;
    margin: 5px;
    text-align: center;
    border: 3px solid #00ccff; 
    border-radius: 12px;
    transition-duration: 0.2s;
    -webkit-animation-direction: 0.2s;
    box-shadow: 0px 5px 10px 0px grey;
    position: relative;
    top: -100px;
    bottom: ;
    right: ;
    left: -25px;
    }

.boton:hover{
background-color:aqua ;
color: black;
}

div#facebook {
  position: relative;
  width: 50px;
  height: 50px;
top: 50px;
right: ;
left: 400px;

}

div#whatsapp{
  position: relative;
  width: 50px;
  height: 50px;
  top: ;
  left: 500px;
  
}

div#correo{
  position: relative;
  width: 50px;
  height: 50px;
   top: -50px; 
right: px;
left: 600px;
  
}